html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #00f4fc;
  font-weight: lighter;
  background: black;
  padding: 0px 0px 0px 50px;
}

h1 {
  font-size: 24px;
}

body button {
  background-color: #00f4fc;
  color: #3b557f;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px;
  border: 50;
  border-color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}


.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.inputLine {
  font-size: 14px;
  padding: 20px 20px 20px 0px;
}

.enterButton {
  font-size: 14px;
  padding: 5px 5px;
  border: 10;
  box-shadow: 50;
  border-radius: 5px;
  margin-bottom: 20px;
}

.credentials {
  font-size: 10px;
  padding: 20px 20px 20px 0px;
}